{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": false,
  "all": true,
  "include": ["lib/src/**/*.ts"],
  "reporter": ["text", "text-summary", "html", "cobertura"],
  "report-dir": "coverage/report",
  "temp-dir": "coverage/temp"
}
